<script setup lang="ts">
import { LMarker, LPopup } from "@vue-leaflet/vue-leaflet";

interface Props {
  latitude: number;
  longitude: number;
}

const props = defineProps<Props>();
</script>

<template>
  <l-marker :lat-lng="[props.latitude, props.longitude]">
    <l-popup>
      <slot></slot>
    </l-popup>
  </l-marker>
</template>
