<script setup lang="ts">
import { Activity } from "/@/model/activity";
interface Props {
  activity: Activity;
}

defineProps<Props>();
</script>

<template>
  <article>
    <h3>{{ activity.name }}</h3>
    <img
      v-if="activity.image"
      :src="activity.image.url"
      :alt="activity.image.caption"
      width="200"
    />
  </article>
</template>
