<script setup lang="ts">
import { ref, watchEffect } from "vue";
import { useActivities } from "/@/stores/activities";
const activityType = ref<"ski" | "hiking">("ski");
const activities = useActivities();

watchEffect(async () => {
  await activities.load(activityType.value);
});
</script>

<template>
  <section :class="$style.selector">
    <label
      :class="{ [$style.pill]: true, [$style.checked]: activityType == 'ski' }"
    >
      <input
        type="radio"
        value="ski"
        name="activityType"
        v-model="activityType"
      />
      Skiing and Snowboarding
    </label>
    <label
      :class="{
        [$style.pill]: true,
        [$style.checked]: activityType == 'hiking',
      }"
    >
      <input
        type="radio"
        value="hiking"
        name="activityType"
        v-model="activityType"
      />
      Hiking
    </label>
  </section>
</template>

<style lang="scss" module>
.selector {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0.5rem;
}
.pill {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  border: 0.15em solid currentColor;
  border-radius: 0.3em;
  padding: 0.15em;
  margin: 0.05em;

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--form-control-color);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &.checked {
    background-color: adjust-color(rebeccapurple, $lightness: 30%);
  }
}
</style>
