<script setup lang="ts">
import { LMap, LTileLayer } from "@vue-leaflet/vue-leaflet";

const url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
const attribution =
  '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors';
const defaultLatLng = [47.36934, 8.54139];
</script>

<template>
  <l-map style="height: 75vh; width: 90vw" :center="defaultLatLng" :zoom="10">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <slot> </slot>
  </l-map>
</template>
