<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import SportMap from "/@/components/SportMap.vue";
import ActivityMarker from "/@/components/ActivityMarker.vue";
import ActivityCard from "/@/components/ActivityCard.vue";
import ActivitySelector from "/@/components/ActivitySelector.vue";
import { useActivities } from "/@/stores/activities";
const activities = useActivities();
</script>

<template>
  <header>
    <h1>Sport Activities in Zürich</h1>
  </header>
  <main>
    <activity-selector />
    <sport-map>
      <activity-marker
        v-for="activity in activities.list"
        :key="activity.identifier"
        :latitude="activity.geoLocation.latitude"
        :longitude="activity.geoLocation.longitude"
      >
        <activity-card :activity="activity" />
      </activity-marker>
    </sport-map>
  </main>
</template>

<style>
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --form-control-color: rebeccapurple;
}

#app {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.leaflet-container {
  font-family: system-ui, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
